* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to bottom, rgba(60, 79, 190, 0.459), rgba(117, 19, 93, 0.73)) , url(../images/prof2BW.jpg);
  background-size: 100%;
  background-color: #898989;
  background-repeat: no-repeat;
  background-blend-mode:soft-light;
  background-position-y: 8em;
}

.navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-image: url(../images/canvas.jpg);
  background-position: center;
  background-size: 220%;
  background-repeat: no-repeat;
  -webkit-clip-path: circle(25px at calc(100% - 45px) 45px);
          clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 500ms ease-in-out;
}

.navigation.active {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
}

.navigation .dropMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.navigation .dropMenu span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 3px;
  background: whitesmoke;
  transition: all 0.5s ease-in-out;
}

.navigation .dropMenu span:nth-child(1) {
  top: 34%;
}

.navigation .dropMenu span:nth-child(2) {
  top: 50%;
}

.navigation .dropMenu span:nth-child(3) {
  top: 65%;
}

.navigation.active .dropMenu span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.navigation.active .dropMenu span:nth-child(2) {
  opacity: 0;
}

.navigation.active .dropMenu span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.navigation .dropMenu span:hover {
  width: 35%;
  transition: all 0.5s ease-in-out;
}

.navigation .links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999999;
}

.navigation .links a {
  position: relative;
  display: inline-block;
  margin: 20px 0px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Poppins", sans-serif;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.navigation .links a:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background: #EBAA1F;
  transition: all 0.6s ease-in-out;
}

.navigation .links a:hover:after {
  width: 100%;
}

.content {
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h2 {
  padding: 0;
  margin: 0;
  color: #fff;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.content h1 {
  display: inline-block;
  letter-spacing: 4px;
  padding: 0;
  margin: 0;
  color: whitesmoke;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  font-size: 24px;
  
}

.content span:before {
  content: "";
  color: #F5BD44;
  -webkit-animation: animate infinite 10s;
          animation: animate infinite 10s;
}

@-webkit-keyframes animate {
  0% {
    content: "Programmer";
  }
  45% {
    content: "Problem Solver";
  }
  85% {
    content: "Designer";
  }
  100% {
    content: "Perfectionist";
  }
}

.skills {
  padding-top: 7em;
  padding-bottom: 8em;
  display: flex;
  width: 65%;
  height: 100%;
  margin-top: 10em;
  margin-left: 26em;
  opacity: 0.89;
}

.skills-container ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5em;
  list-style-type: none;
}

.skills-container ul li {
  background: #FFF9EB;
  padding: 4em;
  border-radius: 1em;
  margin-bottom: 1em;
  text-align: center;
  letter-spacing: 2px;
}
.skills-container ul li .skill-title {
  letter-spacing: 4px;
  color: #EBAA1F;
  font-weight: bold;
  font-size: 25px;
  line-height: 2;
}
.skills-container ul li .skill-desc {
  line-height: 1.8;
  font-size: 19px;
}

@media only screen and (min-width: 800px){

  body{
      background-size: 65%;
      background-position: left;
      background-position-y: -32em;
  }

  .content {
    left: 20em;
  }

  .content h1{
    font-size: 40px;
  }
  .content h2{
    font-size: 45px;
  }

}