*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.navbar{
    padding-right: .8rem;
}

.navbar-nav li{
    padding: 20px;
}

.nav-link{
    font-size: 1.1em !important;
}



// body {
//     margin: 0px;
//     padding: 0;
//     font-family: "Poppins", sans-serif;
// }

// .content {
//     padding: 40px;
//     margin-top: 20px;
//     font-size: 18px;
//     letter-spacing: 2px;
// }

// .content{
//     color: whitesmoke;
//     font-family: "Poppins",sans-serif;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
    
// }

// .content h2{
//     padding: 0;
//     margin: 0;
//     color: #fff;
//     text-shadow: 0 2px 0 rgba(0,0,0,0.5);
//     font-size: 50px;
// }

// .content h1{
//     display: inline-block;
//     letter-spacing: 8px;
//     padding: 0;
//     margin: 0;
//     color: whitesmoke;
//     text-shadow: 0 2px 0 rgba(0,0,0,0.5);
//     font-size: 60px;
//     color: #F5BD44;
// }

// .content span:before{
//     content: "";
//     color: black ;
//     animation: animate infinite 10s;
// }
