/* .skills{
    padding-top: 7em;
    padding-bottom: 8em;
    display: flex;
    width: 65%;
    height: 100%;
    margin-top: 10em;
    margin-left: 26em;
    opacity: 0.89;
}

.skills-container ul{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 5em;
    list-style-type: none;
}

.skills-container ul li{
    background: #FFF9EB;
    padding: 4em;
    border-radius: 1em;
    margin-bottom: 1em;
    text-align: center;
    letter-spacing: 2px;

}

.skill-title {
    letter-spacing: 4px;
    color: #EBAA1F;
    font-weight: bold;
    font-size: 25px;
    line-height: 2.0;
}

.skill-desc{
    line-height: 1.8;
    font-size: 19px;
}

.content {
    padding: 40px;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 2px;
} */


.title{
    display: inline-block;
    position: relative;
    left: 40px;
    font-size: 30px;
    letter-spacing: 3px;
}
.title:nth-child(1){
    color: white;
}

.title:nth-child(2){
    color: rgb(252, 194, 4);
}



.skills-container ul{
    list-style-type: none;
}
.skills-container ul li{
    background: white;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 2em;
    opacity: 0.89;
    margin-right: 2em;
}

.skill-title{
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    font-size: 17px;
    color: rgb(252, 194, 4);
    line-height: 2.0;
}

.skill-desc{
    margin-bottom: 2em;
    text-align: center;
    letter-spacing: 3px;
    font-size: 14px;
    line-height: 1.8;
}

.navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-image: url(../images/canvas.jpg);
    background-position: center;
    background-size: 220%;
    background-repeat: no-repeat;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 500ms ease-in-out;
}

.navigation.active {
    clip-path: circle(75%);
}
.navigation .dropMenu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.navigation .dropMenu span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 3px;
    background: whitesmoke ;
    transition: all .5s ease-in-out;
    
}
.navigation .dropMenu span:nth-child(1) {
    top: 34%;
}
.navigation .dropMenu span:nth-child(2) {
    top: 50%;
}
.navigation .dropMenu span:nth-child(3) {
    top: 65%;
}

.navigation.active .dropMenu span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.navigation.active .dropMenu span:nth-child(2) {
    opacity: 0;
}
.navigation.active .dropMenu span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.navigation .dropMenu span:hover{
    width: 35%;
    transition: all .5s ease-in-out;
}

.navigation .links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999999;
}
.navigation .links a {
    position: relative;
    display: inline-block;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: "Poppins", sans-serif;
    text-shadow: 0 2px 0 rgba(0,0,0,0.5);
}
.navigation .links a:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background: #EBAA1F;
    transition: all .6s ease-in-out;
}


.navigation .links a:hover:after {
    width: 100%;
}

body {
    margin: 0px;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-image: url(../images/prof2BW.jpg);
    background-size: 100%;
    background-color: #898989;
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
    background-position-y: 12em;
  }


@media only screen and (min-width: 800px){
    .skills-container ul{
        width: 55%;
        height: auto;
        padding-top: 10em;
        padding-left: 27em;
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-gap: 5em;
        list-style-type: none;
    }
    .skill-title{
        font-size: 20px;
    }
    .skill-desc{
        font-size: 16px;
    }

    body{
        background-size: 100%;
        background-position: center;
    }

    .title{
        left: 430px;
        font-size: 50px;
        padding: 0;
        top: 3em;
    }
}